form input.input-secondary:focus-within + label.input-placeholder,
form input.input-secondary:not(:placeholder-shown) + label.input-placeholder {
  top: 0;
  left: 6px;
  background: #fff;
  font-size: 12px;
}
